body{
   
    background-color: rgb(113, 74, 255)

}
 
    
    #calc{
    
    background-color: pink;
}
#calc:hover{
    background-color: rgb(191, 236, 149);
    color:rgb(34, 79, 175)
   
}
#resultado{
    font-size: 25px;
    color:blue

}
linearGradient{
    color: aquamarine;
    color: blueviolet;
    color: pink;
}

